<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <link th:href="@{/style/add.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{/script/jquery-1.10.1.js}"></script>
    <script>
        function checkPwd() {
            if ($("[name=newPassword]").val() == $("[name=repPassword]").val()) {
                return true;
            }
            alert("两次输入密码不一~~~");
            return false;
        }
    </script>
</head>
<body>
<form action="/updatePassword" method="post" onsubmit="return checkPwd()">
    <table style=" margin:50px auto;">
        <tbody>
        <tr>
            <td>新 密 码：</td>
            <td><input type="password" name="newPassword" required/></td>
        </tr>
        <tr>
            <td>重复密码:</td>
            <td><input type="password" name="repPassword" required/></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" class="btnSure" value="修改" />
                <input type="reset" value="重置"/>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>